spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: {KAKAO_CLIENT_ID}
            client-secret: ""
            redirect-uri: {KAKAO_REDIRECT_URL}
            scope:
              - {SCOPE_LIST}
            authorization-grant-type: {AUTHORIZATION_GRANT_TYPE}
          google:
            client-id: {GOOGLE_CLIENT_ID}
            client-secret: {GOOGLE_SECRET}
            redirect-uri: {GOOGLE_REDIRECT_URL}
            scope:
              - {SCOPE_LIST}
            authorization-grant-type: {AUTHORIZATION_GRANT_TYPE}
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
  cloud:
    aws:
      credentials:
        access-key: {AWS_ACCESS_KEY}
        secret-key: {AWS_SECRET_KEY}
      region:
        static: {AWS_REGION}
      s3:
        bucket: {AWS_S3_BUCKET_NAME}
      stack:
        auto: false

naver:
  client_id: {NAVER_CLIENT_ID}
  client_secret: {NAVER_CLIENT_SECRET}

jwt:
  secret-key: {JWT_SECRET_KEY}
  access-token-validity: {ACCESSTOKEN_VALIDITY}
  refresh-token-validity: {REFRESHTOKEN_VALIDITY}

OPENAI_API_KEY: {OPENAI_API_KEY}