OPENAI_API_KEY: {YOUR_VALUE}
KAKAO_CLIENT_ID: {YOUR_VALUE}
GOOGLE_CLIENT_ID: {YOUR_VALUE}
GOOGLE_CLIENT_SECRET: {YOUR_VALUE}
AWS_ACCESS_KEY_ID: {YOUR_VALUE}
AWS_SECRET_ACCESS_KEY: {YOUR_VALUE}
AWS_S3_BUCKET_NAME: {YOUR_VALUE}
SENTRY_DSN: {YOUR_VALUE}
JWT_SECRET_KEY: {YOUR_VALUE}
JWT_ACCESS_TOKEN_VALIDITY: {YOUR_VALUE}
JWT_REFRESH_TOKEN_VALIDITY: {YOUR_VALUE}
NAVER_CLIENT_ID: {YOUR_VALUE}
NAVER_CLIENT_SECRET: {YOUR_VALUE}
LIVEBLOCKS_SECRET_KEY: {YOUR_VALUE}
REDIRECT_DOMAIN: {YOUR_VALUE}

#SENTRY_AUTH_TOKEN -> 따로 시스템 환경 변수로 설정.